<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
   <% if current_user.try(:admin?) %>

  <table style="width:45%">
    <tr>
      <th>Category</th>
      <th>Stock Count</th>
    </tr>
      <% @clothing_groups.each do |category, item| %>
    <tr>
        <% if category != '' %>
          <td><%= link_to "#{item.map(&:category).first}", admin_path(category) %></td>
          <td><%= "#{item.map(&:category).count}" %></td>
        <% end %>
      <% end %>
    </tr>
</table>





<% end %>
  </body>
</html>
