<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <% if current_user.try(:admin?) %>
      <%= link_to '<button>Add To Catalogue</button>'.html_safe, new_clothing_path %><br>
    <% end %>


    <%= render partial: 'clothing_categories', locals: { clothings: @clothings} %>



  </body>
</html>
