/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(https://fonts.googleapis.com/css?family=Open+Sans);


html{
  height: 100%;
  // border-top: solid 5px black;
  // border-right: solid 5px black;
  // border-left: solid 5px black;
  // border-bottom: solid 5px black;
}

 body{
   width: 100%;
   height: 100%;

 }

 .navbar{
    position: sticky;
 }

 .navigation {
   margin-top: 20px;
 }

 .main-content{
   margin-top: 20px;
 }

 .navbar-brand{
   color: black;
 }

 .navbar-light{
   height: 175px;
   // background-color:
   width: 100%;
 }

 .navbar-light a{
   font-size: 30px;
   display: inline-block;
   float: left;
   margin-top: 5%;
 }

 .navbar-light input{
   display: inline-block;
   float: right;
   margin-top: 5%;
   margin-right: 3%;
   width: 110px;
   -webkit-transition: width 0.4s ease-in-out;
   transition: width 0.4s ease-in-out;
   border: 3px solid #5A0000;

   padding: 5px;
   height: 20px;
   border-radius: 5px;
   outline: none;

 }

 .searchButton{
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;

 }


 .filter-bar:focus {
    width: 18%;
}

 .gallery_product{
   margin-top: 10px;
   margin-bottom: 20px;
 }

 #sale-options{
   display: none;
   list-style-type: none;
   color: black;
 }
 #sale-options a{
   color: black;
   font-weight: bold;
   font-size: 15px;
 }

 #new-collection-options{
   display: none;
   list-style-type: none;

 }

 #new-collection-options a{
   color: black;
   font-weight: bold;
   font-size: 15px;
 }
 #sale-title{
   font-family: 'Archivo Black', sans-serif;
   font-size: 25px;
   color: #800020;
 }
 #catalogue-title{
   font-family: 'Archivo Black', sans-serif;
   font-size: 25px;
   color: #800020;
 }
 #new-collection-title{
   font-family: 'Archivo Black', sans-serif;
   font-size: 25px;
   color: #800020;
 }
 #contact-us-title{
   font-family: 'Archivo Black', sans-serif;
   font-size: 20px;
   color: black;
   position: relative;
   top: 75px;
 }

 .admin-links{
   float: right;
 }

 .landing{
   background-image: url('/assets/landing.jpg');
   background-size: auto 100%;
   background-repeat: no-repeat;
   // background-size: contain;
 }
 .outer{
   height: 100%;
 }


 // .item-pic{
 //   max-height:245px;
 //   max-width:245px;
 // }

 .old-price{
   text-decoration: line-through;
   margin-right: 20px;
   color: #b30000;

 }

 .item-info {
   text-align: center;
   margin-right: 45px;
 }

 .item-description{
   text-transform: uppercase;
   font-family: 'Helvetica','Arial',Sans-Serif;
   color: #222;
   font-size: 11px;
   line-height: 1.231;

 }

 #color{
    text-transform: uppercase;
    font-family: 'Helvetica','Arial',Sans-Serif;
 }

 .img img{
   width: 250px;
   display: inline-block;
   margin: 15px;
 }

 .img-single img{
   position: relative;
   bottom: 75px;
   left: 75px;
   width: 350px;

 }

 .piece-description{
   text-transform: uppercase;
   font-weight: bolder;
 }



.contact{
  height: 550px;
  width: 50%;
  margin: auto;
  position: relative;
  right: 90px;
}

.contact-title h1{
  text-align: center;
  /*background-color: white;*/
  margin-bottom: 88px;
  font-family: 'Exo 2', sans-serif;
  font-size: 40px;
  color: black;
}

.social-media{
  position: relative;
  top: 350px;
}

.social-all{
  text-align: center;
}

.social-media-title{
  // margin-bottom: 25px;
}

.social-media-icons {
  margin-top: 30px;
}

.social-media-icons img{
  width: 50px;
  height: 50px;
}




#instagram{
  margin-right: 10px;

}

#facebook{
  margin-left: 10px;

}

.terms-of-service{
  margin-top: 50px;
}

.contact{
  height: 550px;
}

.contact-title h1{
  text-align: center;
  /*background-color: white;*/
  margin-bottom: 88px;
  font-family: 'Exo 2', sans-serif;
  font-size: 40px;
  color: black;
}


.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #800020;
    -webkit-box-shadow: 0 0 8px #800020;
    box-shadow: 0 0 8px #800020;
    border: 1px solid #800020;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:black;
}



.rTable {
  	display: table;
  	width: 100%;
}
.rTableRow {
  	display: table-row;
}
.rTableHeading {
  	display: table-header-group;
  	background-color: #ddd;
}
.rTableCell, .rTableHead {
  	display: table-cell;
  	padding: 2px 5px;
  	border: 1px solid #999999;
    text-align: center;

}

.rTableHeading {
  	display: table-header-group;
  	background-color: #ddd;
  	font-weight: bold;
}
.rTableFoot {
  	display: table-footer-group;
  	font-weight: bold;
  	background-color: #ddd;
}
.rTableBody {
  	display: table-row-group;
}

.stock_form_field{
  width: 77px;;
}

.admin-stuff h2{
    text-align: center;
    margin-bottom: 70px;
}
