/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body{
   width: 100%;
 }

 .navigation {
   margin-top: 20px;
 }

 .main-content{
   margin-top: 20px;
 }

 .navbar-light{
   height: 175px;
   background-color: tomato;
   width: 100%;
 }

 .navbar-light a{
   font-size: 30px;
   display: inline-block;
   float: left;
   margin-top: 5%;
 }

 .navbar-light input{
   display: inline-block;
   float: right;
   margin-top: 5%;
   margin-right: 3%;
 }

 .gallery_product{
   margin-top: 10px;
   margin-bottom: 20px;
 }

 #sale-options{
   display: none;
   list-style-type: none;
 }

 #new-collection-options{
   display: none;
   list-style-type: none;
 }
